PORT=5000

MONGODB_URI=mongodb+srv://rajankumarrkr4576_db_user:OIHeQofnj5cuZtTO@cluster0.kylxfhv.mongodb.net/viral_adda

JWT_SECRET=your_jwt_secret

BOT_TOKEN=8974861030:AAHeoxY1msLAPmeFVFlQfPOPBCEF-6T9r4w

CHANNEL_ID=-1003930411842

OIHeQofnj5cuZtTO